.alert-error {
    padding: 0.4em;
    margin-bottom: 0.75em;
    border: 1px solid transparent;
    border-radius: 0.25em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}